/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  background-color: lightblue;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --huisje1: linear-gradient(gold 7em, red 7em);
  --huisje2: linear-gradient(gold 5em,red 5em);
  --huisje3: linear-gradient(gold 6em, red 6em);
  --huisje4: linear-gradient(gold 4em,red 4em);
  --huisje5: linear-gradient(gold 7em,red 7em);

  --achtergrond: linear-gradient(to top,LimeGreen,green 4em,LightSkyBlue  4em,DeepSkyBlue);

  --raampjes: linear-gradient(midnightblue, skyblue);

  --autoweg: grey;

  --schaduwhuisjes: .5em 0 .5em rgb(0 0 0 / .5);
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:gold;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: .5em 0 .5em rgb(0 0 0 / .5);
}


ol{
  margin:0;
  padding:0;
  padding-left: calc(50vw - 4em);
  padding-right: calc(50vw - 4em);

  display:flex;
  align-items: end;
  gap:4em;

  background-color:
   green;

   background-image: var(--achtergrond);

  overflow:hidden;

  scroll-behavior: smooth;
}

Li{
  list-style: none;
  width:8em;
  height:8em;
  flex-shrink: 0;
  background-color: yellow;
}

/* eerste mcdrive - 19xx */
li:nth-of-type(1) {
  position: relative;
  height:10em;
  background-image: var(--huisje1);

    box-shadow: .5em 0 .5em rgb(0 0 0 / .5);
}

li:nth-of-type(1) h2 {
  position:absolute;
  margin: 0;
  bottom: .5em;
  width: 100%;
  text-align: center;
  font-family:'Courier New', Courier, monospace

}

/* raampje */
li:nth-of-type(1) div {
  width:4em;
  height: 3em;
  background-color: lightblue;
  background-image: var(--raampjes);

  position: absolute; 
  top: 4em;
  left: 2em; 
}

/* burger */
li:nth-of-type(1) div img {
  width: 100%;
  filter:drop-shadow(0 .1em .2em midnightblue);
}

/* logo */
li:nth-of-type(1) > img:nth-of-type(1) {
  width: 55%;
  margin-left: 2em;
  margin-top: 1em;
}


/* tweede mcdrive - 19xx */
li:nth-of-type(2) {
  position: relative;
  height:8em;
  background-image: var(--huisje2);

     box-shadow: .5em 0 .5em rgb(0 0 0 / .5);
}

li:nth-of-type(2) h2 {
  position:absolute;
  margin: 0;
  bottom: .5em;
  width: 100%;
  text-align: center;
  font-family:'Times New Roman', Times, serif; font-style: italic;
  

}

/* raampje */
li:nth-of-type(2) div {
  width:4em;
  height: 3em;
  background-color: lightblue;
  background-image: var(--raampjes);

  position: absolute; 
  top: 2em;
  left: 2em;
}

/* burger */
li:nth-of-type(2) div img {
  width: 100%;
  filter:drop-shadow(0 .1em .2em midnightblue);
}

/* logo */
li:nth-of-type(2) > img:nth-of-type(1) {
  width: 35%;
  margin-left: 2.5em;
  }

  /* derde mcdrive - 19xx */
li:nth-of-type(3) {
  position: relative;
  height:9em;
  background-image: var(--huisje3);

     box-shadow: .5em 0 .5em rgb(0 0 0 / .5);
}

li:nth-of-type(3) h2 {
  position:absolute;
  margin: 0;
  bottom: .5em;
  width: 100%;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif

}

/* raampje */
li:nth-of-type(3) div {
  width:4em;
  height: 3em;
  background-color: lightblue;
  background-image: var(--raampjes);

  position: absolute; 
  top: 3em;
  left: 2em;
}

/* burger */
li:nth-of-type(3) div img {
  width: 95%;
  filter:drop-shadow(0 .1em .2em midnightblue);
}

/* logo */
li:nth-of-type(3) > img:nth-of-type(1) {
  width: 50%;
  margin-left: 2em;
  
  }
  


  /* vierde mcdrive - 19xx */
li:nth-of-type(4) {
  position: relative;
  height:7em;
  background-image: var(--huisje4);

     box-shadow: .5em 0 .5em rgb(0 0 0 / .5);
}

li:nth-of-type(4) h2 {
  position:absolute;
  margin: 0;
  bottom: .5em;
  width: 100%;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  

}

/* raampje */
li:nth-of-type(4) div {
  width:4em;
  height: 3em;
  background-color: lightblue;
  background-image: var(--raampjes);

  position: absolute; 
  top: 1em;
  left: 2em;
}

/* burger */
li:nth-of-type(4) div img {
  width: 100%;
  filter:drop-shadow(0 .1em .2em midnightblue);
}

/* logo */
li:nth-of-type(4) > img:nth-of-type(1) {
  width: 35%;
  margin-left: 2.5em;
  margin-top: -4em;
  }
  

  /* vijfde mcdrive - 19xx */
li:nth-of-type(5) {
  position: relative;
  height:10em;
  background-image: var(--huisje5);

     box-shadow: .5em 0 .5em rgb(0 0 0 / .5);
}

li:nth-of-type(5) h2 {
  position:absolute;
  margin: 0;
  bottom: .5em;
  width: 100%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* raampje */
li:nth-of-type(5) div {
  width:4em;
  height: 3em;
  background-color: lightblue;
  background-image: var(--raampjes);

  position: absolute; 
  top: 4em;
  left: 2em;
}

/* burger */
li:nth-of-type(5) div img {
  width: 130%;
  filter:drop-shadow(0 .1em .2em midnightblue);
}

/* logo */
li:nth-of-type(5) > img:nth-of-type(1) {
width: 55%;
margin-left: 2em;
margin-top: 1em;

}

  

/* DE WEG */
section {
  position: relative;
  height:6em;
  background-color: var(--autoweg);
  
}

section img {
 position: absolute;
  width: 10em;

  left:calc(50vw - 5em);
}

section img.auto1940 {
  content: url("../images/auto-1940.png");
}

section img.auto1960 {
  content:url("../images/auto-1960.png");
}

section img.auto1975 {
  content: url("../images/auto-1975.png");
}

section img.auto1990 {
  content: url("../images/auto-1990.png");
}

section img.auto2000 {
  content: url("../images/auto-2000.png");
}

/* informatie */

footer img {

  position: absolute;
  width: 50%
}

footer img.info1960 {
  content: url(../images/tekst-1960.png);
}


